<footer>
  <div class="credits">
    <div>Share Icon by <a href="https://pictogrammers.com/library/mdi/">Material Design Icons</a></div>
    <div><a href="https://www.flaticon.com/free-icons/image" title="image icons">Image icons created by Wahyu Adam - Flaticon</a></div>
  </div>
  <div class="cr">© Noa Houssier <a href="https://github.com/NestorNebula"><img class="gh-icon" src="/assets/icons/github.svg" alt="Github account"></a> 2024</div>
</footer>