<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log-In</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/errors.css">
  <link rel="icon" type="image/png" href="/assets/icons/logo.png">
</head>

<body>
  <%- include('navbar') %>
  <div class="background"></div>
  <% if (error.length) { %>
  <div class="errors"><%= error %></div>
  <% } %>
  <section class="forms">
    <form class="form" action="/log-in" method="POST">
      <div class="form-title">Log In</div>
      <label for="username">Username or Email</label>
      <input id="username" name="username" type="text" required>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" required>
      <button>Log-In</button>
    </form>
  </section>
</body>

</html>