.folder {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem;
}

.folder-info {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.folder-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.user-file > a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.share {
  margin-left: auto;
}

.share-form {
  font-size: 1.5rem;
}
