.folder {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem;
  background-color: #f4eae2;
  padding: 1rem;
  border-radius: 10px;
}

.folder-info {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  align-items: center;
}

.folder-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.share {
  margin-left: auto;
}

.share-icon {
  width: 5rem;
}

.share-form {
  font-size: 1.5rem;
}
