.folder {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem;
}

.folder-info {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.folder-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5rem;
}

.share {
  margin-left: auto;
}

.share-icon {
  width: 5rem;
}

.share-form {
  font-size: 1.5rem;
}
