.forms {
  display: flex;
  justify-content: space-evenly;
  gap: min(10rem, 10vw);
  padding: 2.5rem;
  width: fit-content;
  align-self: center;
  border: 2px solid #dbeafe;
  box-shadow: 1px 1px 5px;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  font-size: 1.75rem;
}

.form > label {
  position: relative;
  top: 0.75rem;
}

.form-title {
  font-size: 2.25rem;
  align-self: center;
}
