/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Common Properties */

:root {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --bg-repetion: 7.5rem;
  --bg-line-length: 0.5rem;
  --bg-circle-position: calc(
    calc(var(--bg-line-length) / 2) + calc(var(--bg-repetion) / 2)
  );
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  font-size: 3rem;
  padding: 2rem 4rem 4rem;
}

.logo {
  max-width: 10rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

li {
  list-style: none;
}

nav div {
  display: flex;
  gap: 5rem;
}

img {
  -webkit-user-drag: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}

.fnumber.newlink {
  align-self: start;
  display: flex;
  gap: 1rem;
}

button,
.plus-link {
  border-radius: 5px;
  text-decoration: none;
  background-color: #ef7067ab;
  transition: 1s ease-out;
  transition-property: background-color, color;
}

.plus-link {
  padding: 0 1rem;
}

button:hover,
button:focus,
.plus-link:hover {
  background-color: #ed645f;
  color: aliceblue;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #ed645f;
}

.background {
  position: fixed;
  inset: 0;
  background-image: radial-gradient(circle, transparent 1rem, white 1.5rem),
    linear-gradient(
      #f3eeeb var(--bg-line-length),
      transparent var(--bg-line-length)
    ),
    linear-gradient(
      90deg,
      #f3eeeb var(--bg-line-length),
      transparent var(--bg-line-length)
    );
  background-size: var(--bg-repetion) var(--bg-repetion);
  background-position: var(--bg-circle-position) var(--bg-circle-position), 0 0,
    0 0;
  z-index: -1;
  opacity: 0.3;
}
