.folders {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.user-file > a {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: 100%;
  padding: 1.75rem;
}

.user-file > a > img {
  border-radius: 5px;
  box-shadow: 1px 1px 5px lightblue;
  height: 100%;
  object-fit: cover;
}

.user-fname {
  font-size: 2rem;
}
